<header>
    <div class="navbar-fixed">
        <nav class="blue darken-4">
            <div class="nav-wrapper">
                <a href="/home" class="brand-logo center headerTitle">KRDS Watch</a>
                <ul class="left hide-on-med-and-down">
                    {{#each tabs}}
                        <li class="{{active}}">
                            <a href="/{{key}}" class="waves-effect"> <i class="material-icons left">{{#ifCond key '==' 'home'}}home{{else ifCond key '==' 'bookmark'}}book{{else}}add_circle_outline{{/ifCond}}</i>{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
                <ul class="right hide-on-med-and-down">
                    {{#ifCond activeKey '!=' 'post'}}
                        <li class="search">
                            <form id="search_form" action="">
                                <div class="search-wrapper card">
                                    <input id="search_bar_desktop" placeholder="Search" class="browser-default">
                                    <i class="material-icons btnSearch" data-search_bar="#search_bar_desktop">search</i>
                                </div>
                            </form>
                        </li>
                    {{/ifCond}}
                    <li>
                        <a href="/users/{{user.id_user}}" class="valign-wrapper">
                            <img src="{{user.picture}}" alt="{{user.name}}" class="circle responsive-img  z-depth-3" height="45px" width="45px" />
                            <span class="userName">{{user.name}}</span>
                        </a>
                    </li>
                    <li style="height: 65px;" class="clickInActive">
                        <a href="#" class="btnNotifications" style="height:100%;"><i class="material-icons clickInActive">public</i><span class="badge red darken-4 notificationCount clickInActive">{{notification_count}}</span></a>
                    </li>
                    <li style="height: 65px;">
                        <a href="#" class="btnLogout"><i class="material-icons">power_settings_new</i></a>
                    </li>
                </ul>
                <ul id="slide-out" class="side-nav">
                    <li>
                        <a href="/users/{{user.id_user}}">
                            <img src="{{user.picture}}" alt="{{user.name}}" class="circle responsive-img mobileUserImage z-depth-4" height="45px" width="45px" />
                            <span class="userName">{{user.name}}</span>
                        </a>
                    </li>
                    {{#each tabs}}
                        <li class="{{active}}">
                            <a href="/{{key}}" class="waves-effect"><i class="material-icons right">{{#ifCond key '==' 'home'}}home{{else ifCond key '==' 'bookmark'}}book{{else}}add_circle_outline{{/ifCond}}</i>{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="#" class="btnLogout waves-effect"><i class="material-icons right">power_settings_new</i>Logout</a></li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons left">menu</i></a>

                {{#ifCond activeKey '!=' 'post'}}
                    <a href="#" class="hide-on-large-only right mobileSearchIcon"><i class="material-icons">search</i></a>
                {{/ifCond}}
            </div>
        </nav>
    </div>
</header>
{{#ifCond activeKey '!=' 'post'}}
    <div id="mobile_serach_box" class="navbar-fixed" style="display:none;">
        <nav class="grey lighten-2 black-text">
            <div class="valign-wrapper nav-wrapper">
                <input id="search_bar_mobile" type="search" placeholder="Search" class="browser-default"/>
                <span class="searchIcons">
                    <i class="material-icons btnSearch inlineIcon" data-search_bar="#search_bar_mobile">search</i>
                    <i class="material-icons inlineIcon" id="btn_search_clear">clear</i>
                </span>
            </div>
        </nav>
    </div>
{{/ifCond}}
<div id="block_notifications" class="blockNotifications light-blue lighten-5 defaultHidden">
    <ul class="notificationContainer" id="notification_container">

    </ul>
    <div class="progress" id="notification_loader">
        <div class="indeterminate"></div>
    </div>
</div>
