<header class="mdl-layout__header">
     <!-- Top row, always visible -->
     <div class="mdl-layout__header-row">
     <!-- Title -->
        <span class="mdl-layout-title">KRDS Watch</span>
        <!-- Tabs -->        
        <nav class="mdl-navigation">
            {{#each tabs}}
                <a class="mdl-navigation__link {{active}}" href="/{{key}}">{{name}}</a>
            {{/each}}
        </nav>
     </div>
</header>

<div class="row">
    <div class="navUser col-md-3 pull-left">
        <img src="{{user.picture}}" alt="{{user.name}}" class="img-thumbnail" />
        <span><a href="/home/user/{{user.id_user}}" class="text-info">{{user.name}}</a></span>
    </div>
    <div class="user col-md-8">
        <ul class="nav nav-pills">
            {{#each tabs}}
                <li role="presentation" class="{{active}}"><a href="/{{key}}">{{name}}</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="pull-right col-md-1">
        <button id="btn_logout" class="btn btn-primary"/><span class="glyphicon glyphicon-log-out"></span></button>
    </div>
</div>
<hr>
