{{#each posts}}
    <div class="col s12 m4 l3 post">
        <div class="card small {{#if is_highlighted}} lime lighten-3 {{else}} white {{/if}} hoverable">
            <div class="card-content">
                <span class="left postBookmarkIcon">
                    {{#if is_bookmarked}}
                        <i class="material-icons bookmarked" data-id_bookmark="{{id_bookmark}}" data-id_post="{{id_post}}">bookmark</i>
                    {{else}}
                        <i class="material-icons bookmark" data-id_bookmark="{{id_bookmark}}" data-id_post="{{id_post}}">bookmark_border</i>
                    {{/if}}
                </span>
                {{#ifCond ../user.id_user '==' this.id_user._id}}
                    <ul id="editDropdown_{{_id}}" class="dropdown-content">
                        <li><a href="#" class="btnPostEdit" data-id_post="{{_id}}">Edit</a></li>
                        <li><a href="#" class="btnPostDelete" data-id_post="{{_id}}">Delete</a></li>
                    </ul>
                    <span class="right">
                        <a class="dropdown-button" href="#" data-activates="editDropdown_{{_id}}"><i class="material-icons">expand_more</i></a>
                    </span>
                {{/ifCond}}
                <div class="row userInfoRow">
                    <div class="col s12 valign-wrapper">
                        <a href="/users/{{id_user._id}}" class="" style="width:100%">
                            <span class="left" style="width:100%">
                                <img src="{{id_user.picture}}" alt="{{id_user.name}}" class="userImg circle responsive-img z-depth-2 left" height="35px" width="35px" />
                                <div class="left userInfo">
                                    <div class="userInfoData userName">{{id_user.name}}</div>
                                    <div class="dateInfo commentDate truncate">{{#dateFormat date_edited}}{{/dateFormat}}</div>
                                </div>
                            </span>
                        </a>
                    </div>
                </div>

                <p>{{#each tags}} <a href="/home/search/tag/{{this}}" class="chip tooltipped"  data-position="top" data-delay="50" data-tooltip="tag">{{this}}</a>{{/each}}</p>
                <p>{{description}}</p>
                <p class="row">
                    <a href="{{url}}" target="_blank">
                        <span class="col s4 postImg" style="background: url({{image}}) no-repeat center;"></span>
                        <span class="col s8">
                            <span class="truncate">{{title}}</span>
                            <span class="previewDescription">{{#truncate preview_description}}{{/truncate}}</span>
                        </span>
                    </a>
                </p>
            </div>
            <div class="card-action">
                <span class="left category">{{#each categories}} <a href="/home/search/category/{{this}}" class="chip tooltipped" data-position="top" data-delay="50" data-tooltip="category">{{this}}</a>{{/each}}</span>
                <span class="btnComment right valign-wrapper waves-effect waves-red" data-id_post="{{_id}}"><i class="material-icons">comment</i> Comments</span>
            </div>
        </div>
    </div>
{{/each}}
