{{#each posts}}
    <div class="col-md-4 post">
        <div class="well block">
            <div class="clearfix">
                <a href="/users/{{id_user._id}}">
                    <img src="{{id_user.picture}}" alt="{{id_user.name}}" style="" class="img-thumbnail pull-left userImg" />
                    <h4 class="pull-left">{{id_user.name}}</h4>
                </a>
                <span>{{description}}</span>
                <p>{{#each tags}} <a href="/home/search/tag/{{this}}">{{this}}</a>{{/each}}</p>
                <span class="pull-right glyphicon {{#if is_bookmarked}} glyphicon-star bookmarked {{else}} glyphicon-star-empty  bookmark {{/if}}" data-id_bookmark="{{id_bookmark}}" data-id_post="{{id_post}}"></span>
                {{#ifCond ../user.id_user '==' this.id_user._id}}
                    <span class="glyphicon glyphicon-chevron-down editHandler"></span>
                    <div class="editContainer" style="display:none;">
                        <a href="#" class="btnPostEdit">Edit</a>
                        <a href="#" class="btnPostDelete" data-id_post="{{_id}}">Delete</a>
                    </div>
                {{/ifCond}}
            </div>
            <div class="row">
                <a href="{{url}}" target="_blank">
                    <div class="col-sm-4">
                        <img src="{{image}}" alt="{{title}}" class="img-thumbnail img-responsive">
                    </div>
                    <div class="col-sm-8">
                        <h3>{{title}}</h3>
                        <p>{{preview_description}}</p>
                    </div>
                </a>
                <div class="comments">
                    {{#each comments}}
                        <p>{{this.comment}} <span>Posted By {{this.id_user.name}} <img src="{{this.id_user.picture}}"/> {{this.date}}</span></p>
                        {{#ifCond ../../user.id_user '==' this.id_user._id}}
                            <a href="#" class="btnCommentEdit glyphicon glyphicon-pencil" data-comment="{{this.comment}}" data-id="{{_id}}" data-index="{{@index}}" data-id_post="{{../../_id}}"></a>
                            <a href="#" class="btnCommentDelete glyphicon glyphicon-trash" data-id="{{_id}}" data-index="{{@index}}" data-id_post="{{../../_id}}" data-date="{{this.date}}"></a>
                        {{/ifCond}}
                    {{/each}}
                </div>
                <div class="postComment">
                    <input type="text" class="comment"/>
                    <a href="#" class="btnPostComment glyphicon glyphicon-ok" data-id_post="{{_id}}"></a>
                </div>
                <p>{{#each categories}} <a href="/home/search/category/{{this}}">{{this}}</a>{{/each}}</p>
            </div>
        </div>
    </div>
{{/each}}
