
<link rel="stylesheet" href="/stylesheet/jquery.tag-editor.css">
<link rel="stylesheet" href="/stylesheet/jquery-ui.min.css">
{{> nav this}}
<div class="container" id="main">
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="description" name="description" length="40" class="validate" {{#if post}} value="{{post.description}}" {{/if}}  />
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="url" name="description" class="validate" {{#if post}} value="{{post.url}}" {{/if}}  />
                    <label for="URL">URL</label>
                </div>
            </div>
            <div class="row defaultHidden" id="post_preview_container">
                <div class="input-field col s12">
                    <div class="row">
                        <div class="progress loader">
                            <div class="indeterminate"></div>
                        </div>
                        <div class="col s4">
                            <img id="preview_image" src="/images/setting_icon.png" alt="Preview Image" class="img-thumbnail img-responsive" height="200ps" width="200px">
                        </div>
                        <div class="col s8">
                            <h3 id="preview_title">Title</h3>
                            <p id="preview_description">Description</p>
                        </div>
                    </div>
                    <label for="preview">Preview</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 noOutline">
                    <input type="text" id="tags" name="tags" placeholder="Tags"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <span class="radioBlock">
                        <span>
                            <input type="radio" name="highlight" id="highlight_yes" value="1" checked="false">
                            <label for="highlight_yes">Yes</label>
                        </span>
                        <span>
                            <input type="radio" name="highlight" id="highlight_no" value="0" checked="checked">
                            <label for="highlight_no">No</label>
                        </span>
                    </span>
                    <label for="highlight">Highlight</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12 noOutline">
                    <input type="text" id="categories" name="categories" placeholder="Category"/>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button id="btn_submit" type="submit" class="btn">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/javascript/lib/jquery-ui.min.js"></script>
<script src="/javascript/lib/jquery.tag-editor.min.js"></script>
<script src="/javascript/lib/jquery.caret.min.js"></script>
<script src="/javascript/app/notification.js"></script>
<script src="/javascript/app/common.js"></script>
<script>
    function onLoad()
    {
        gapi.load('auth2', function() {
          gapi.auth2.init();
        });
    }

    var categories  =   "{{categories}}";
    var tags        =   "{{tags}}";
    var id_user     =   "{{user.id_user}}";
    var json        =   "{{post_json}}";
    var post_json;
    var is_edit     =   false;
    var id_post     =   null;
    if(json != '')
    {
        post_json   =   json.replace(/\\n/g, "\\n")
                           .replace(/\\'/g, "\\'")
                           .replace(/\\"/g, '\\"')
                           .replace(/\\&/g, "\\&")
                           .replace(/\\r/g, "\\r")
                           .replace(/\\t/g, "\\t")
                           .replace(/\\b/g, "\\b")
                           .replace(/\\f/g, "\\f")
                           .replace(/[\u0000-\u0019]+/g,"")
                           .replace(/&quot;/g,'"');
        post_json   =   JSON.parse(post_json);
    }


    categories      =   categories.split(',');
    tags            =   tags.split(',');

    var initialTags =   typeof post_json != 'undefined' ? post_json.tags : [];
    var initalCategories    =   typeof post_json != 'undefined' ? post_json.categories : [];

    $(document).ready(function()
    {
        $(".button-collapse").sideNav();

        $('.btnLogout').on('click', function(e)
        {
            e.preventDefault();

            $('body').addClass('loading');

            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              location.href =   '/logout'
            });
        });

        $('#tags').tagEditor({
            initialTags: initialTags,
            delimiter: ', ', /* space and comma */
            placeholder: 'Enter Tags ...',
            maxTags: 4,
            maxLength: 30,
            autocomplete: {
                delay: 0, // show suggestions immediately
                position: { collision: 'flip' }, // automatic menu position up/down
                source: tags
            },
        });

        $('#categories').tagEditor({
            initialTags: initalCategories,
            delimiter: ', ', /* space and comma */
            maxTags: 3,
            maxLength: 30,
            placeholder: 'Enter Categories ...',
            forceLowercase: false,
            removeDuplicates: true,
            autocomplete: {
                delay: 0, // show suggestions immediately
                position: { collision: 'flip' }, // automatic menu position up/down
                source: categories
            },
            onChange: function(field, editor, tags)
            {
                if(tags.length)
                {
                    var to_be_removed = $.grep(tags, function(el){return $.inArray(el, categories) == -1});
                    if(to_be_removed.length)
                    {
                        $.each(to_be_removed, function(key, val)
                        {
                            $('#categories').tagEditor('removeTag', val);
                        });
                    }
                }
            }
        });
        Materialize.updateTextFields();

        var expression  =   /[-a-zA-Z0-9@:%_\+.~#?&//=]{2,256}\.[a-z]{2,4}\b(\/[-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
        var regex       =   new RegExp(expression);
        var busy        =    false;
        $('#url').on('keyup', function()
        {
            if( ! $(this).val().match(regex))
            {
                Materialize.toast("Invalid Url", 4000, "rounded");
                return false;
            }

            if(busy)
                return;

            busy    =   true;
            $('#btn_submit').addClass('disabled');
            $('.loader').show();
            $.ajax({
                cache: false,
                type: 'POST',
                url: '/post/url',
                dataType: 'json',
                data: {
                    url: $(this).val()
                },
                error: function(jXhr) {
                    if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                        $('#alert_info').html(jXhr.msg).addClass('alert-error').show();
                },
                success: function(data) {
                    $('#preview_image').attr('src', data.image);
                    $('#preview_title').html(data.title);
                    $('#preview_description').html(data.description);
                    $('#post_preview_container').show();
                },
                complete: function(){
                    busy    =   false;
                    $('.loader').hide();
                    $('#btn_submit').removeClass('disabled');
                }
            });
        });

        $('#btn_submit').on('click', function(e)
        {
            e.preventDefault();

            if(busy)
                return;

            busy    =   true;

            try
            {
                if($('#url').val().length == 0)
                    throw {msg: 'Empty URL', ele: '#url'};

                if( ! $('#url').val().match(regex))
                    throw {msg: 'Invalid URL', ele: '#url'};

                if($('#categories').tagEditor('getTags')[0].tags.length == 0)
                    throw {msg: 'No Category Selected'};
                $('body').addClass('loading');

                var data    =   {
                    id_user: id_user,
                    description: $.trim($('#description').val()),
                    url: $.trim($('#url').val()),
                    tags: $('#tags').tagEditor('getTags')[0].tags,
                    is_highlighted: $("input[type='radio'][name='highlight']:checked").val(),
                    categories: $('#categories').tagEditor('getTags')[0].tags,
                    title: $('#preview_title').html(),
                    preview_description: $('#preview_description').html(),
                    image: $('#preview_image').attr('src')
                };

                var method  =   is_edit ? 'PUT' : 'POST';

                if(is_edit)
                    data.id_post    =   id_post;

                $.ajax({
                    cache: false,
                    type: method,
                    url: '/post/',
                    dataType: 'json',
                    data: {data: JSON.stringify(data)},
                    error: function(jXhr) {
                        if(jXhr.status == 400 || jXhr.status == 500 || jXhr.status == 403)
                            $('#alert_info').html(jXhr.msg).addClass('alert-error').show();

                        $('body').removeClass('loading');
                    },
                    success: function(data) {
                        $('body').addClass('loading');
                        location.href =   '/home';
                    },
                    complete: function(){
                        busy    =   false;
                    }
                });
            }
            catch (e)
            {
                if(e.ele)
                    $(e.ele).focus();
                Materialize.toast(e.msg, 4000, "rounded");
            }
        });

        if(post_json != null)
        {
            if(post_json.is_highlighted)
                $('#highlight_yes').prop('checked', true);
            else
                $('#highlight_no').prop('checked', true);

            $('#url').trigger('keyup');

            is_edit =   true;
            id_post =   post_json._id;
        }
    });
</script>
